aicsimageio[nd2]==4.9.4
basicpy==1.1.0
cellpose>=2.1.1
image_registration>=0.2.6
importlib_metadata>=5.1.0
itk-elastix==0.17.3
matplotlib>=3.6.3
nd2reader>=3.3.0
numpy==1.20.3
packaging>=23.0
pandas>=1.5.2
pystackreg>=0.2.7
scikit_image>=0.19.3
tomli>=2.0.1
typing_extensions>=4.4.0
